.profil {
  display: block;
  position: relative;
  margin-top: -650px;
  padding-top: 50px;
  padding-left: 10px;
  span {
    margin-bottom: 50px;
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 200px;
    color: #1f1f1f;
  }
  .btn-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    button {
      font-size: 16px;
      background: none;
      width: 120px;
      height: 27px;
      border-radius: 12px;
      border: 2px solid #1f1f1f;
      transition: 0.4s;
      cursor: pointer;
    }
    .logout {
      color: #1f1f1f;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      text-decoration: none;
      width: 120px;
      height: 25px;
      color: #000000;
      background: #ffffff;
      border-radius: 12px;
      border: 2px solid rgb(11, 11, 11);
      transition: 0.4s;
    }
    a:hover {
      color: #fff;
      background: #000;
    }
  }
}
